# include "~/.nano/css.nanorc"
# include "~/.nano/git.nanorc"
# include "~/.nano/haml.nanorc"
# include "~/.nano/html.nanorc"
# include "~/.nano/lua.nanorc"
# include "~/.nano/java.nanorc"
# include "~/.nano/js.nanorc"
# include "~/.nano/man.nanorc"
# include "~/.nano/nanorc.nanorc"
# include "~/.nano/python.nanorc"
# include "~/.nano/ruby.nanorc"
# include "~/.nano/sh.nanorc"
# include "~/.nano/xml.nanorc"
# include "~/.nano/zshrc.nanorc"