<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>args</key>
		<dict>
			<key>save_to_file</key>
			<true/>
		</dict>
		<key>command</key>
		<string>json_to_plist</string>
		<key>keys</key>
		<array>
			<string>super+shift+b</string>
		</array>
	</dict>
</array>
</plist>
